header{
  h1{
    font-size: 2em;
    a{
      color: black;
      text-decoration: none;
    }
  }
}

#jumbotron{
  background-color: gold;
}
#jumbotron .site-description{
  font-size: 1.5em;
}

#jumbotron #carForm{
  background-color: white;
}