a:hover {
  opacity: 0.7; /* Membuat teks sedikit redup saat hover */
}

header h1{
    font-size: 1.5em;
}

header h1 a{
    color: #000;
    text-decoration: none;
    color: inherit; /* Menggunakan warna default dari parent (h1) */
    transition: opacity 0.3s ease; /* Efek transisi halus */
}

nav a {
  text-decoration: none; /* Menghilangkan underline */
  color: inherit; /* Menjaga warna teks tetap sesuai dengan elemen parent */
  transition: opacity 0.3s ease; /* Efek transisi untuk redup */
}

#jumbotron{
  background-color: gold;
}
#jumbotron .site-description{
  font-size: 1.5em;
}
#jumbotron #jumbotronImage{
  width: 60%;
  position: absolute;
  top: 50%;
  margin-top: -25%;
  left: 50%;
  margin-left: -39%;
  opacity: 1;
}

#jumbotron #carForm{
  background-color: white;
  position: relative;
  z-index: 1;
}

#threeSteps{
  background-color: #f1f1f1
}

#threeSteps .step{
  background-color: white;
  border: 1px solid floralwhite;
}
